* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar .logo {
    height: 60px;
    transition: transform 0.3s;
}

.navbar .logo:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: max-height 0.3s ease-out;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #C4BEB4;
    font-size: 1.5rem;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    color: white;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s;
}
/* end */

/* body */

.contact {
    position: relative;
    min-height: 90vh;
    padding: 75px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}           

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #000000;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}



.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg,
            #C4BEB4 0%, #C4BEB4 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.container .contactInfo .box .icon:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(195, 190, 180, 1.1);
}


.container .contactInfo .box .icon::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg,
            #C4BEB4 0%, #c4beb4 10%, transparent 10%, transparent 50%);
}

.container .contactInfo .box .icon::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: #222;
}

.container .contactInfo .box .icon b {
    position: absolute;
    inset: 8px;
    background: #C4BEB4;
    z-index: 2;
}

.container .contactInfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.container .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    padding: 15px 0;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container .contactInfo .box .text h3:hover{
    transform: scale(1.2);
    color: #C4BEB4;
}


.container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #C4BEB4;
    padding-left: 10px;
    line-height: 1em;
}


.container .contactForm {
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a),
            #C4BEB4 0%, #C4BEB4 10%, transparent 10%, transparent 50%);
   
    padding: 60px;
    border-radius: 20px;
    transition: 0.5s;
}

.container .contactForm:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    background-color: #010101;
}

.container .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),
            #C4BEB4 0%, #C4BEB4 10%, transparent 10%, transparent 50%);
    
    border-radius: 20px;

}


.container .contactForm::after {
    content: '';
    position: absolute;
    inset: 2px;
    border:20px solid #222;
    background: #C4BEB4;
    border-radius: 20px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

    .container .contactForm h1 {
        margin-left: 65px;
        margin-bottom: -34px;
    font-size: 1.5em;
    color: #fff ;
    }
.container .contactForm form {
    position: relative;
    z-index: 10;
}

.container .contactForm form h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 30px;
}


.container .contactForm form .inputBox .contact-label {
    position: absolute;
    left: 64px;
    padding: 50px 0;
    font-size: 1.1em;
    color: #fafafa;
    pointer-events: none;
    transition: 0.5s;
}



.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact-number {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: slideIn 1s ease-out;
}

.owner-photo {
    margin-left: -25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000000;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.owner-photo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.1);
}

.social-links {
    z-index: 1000;
}

/* footer */

footer {
    background:  #C4BEB4;
    padding: 20px 0;
    text-align: center;
    margin-block-end: -20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.mail {
    width: 40px;
    height: 60px !important;
}

.social-link img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.social-link img:hover {
    transform: scale(1.1);
}

/* end */


/* Responsive */

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        width: 100%;
    }

    .container .contactForm {
        width: 100%;
        padding: 40px;
    }

    .container .contactForm form {
        padding: 10px;
    }
}

/* responsive navbar */
/* Existing mobile media query */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 56px;
        right: 0;
        background-color: #222;
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links.open {
        max-height: 300px;
    }

    .nav-links a {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }

    .navbar {
        flex-direction: row;
    }

    .workshop-slot {
        width: 100%;
    }
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '';
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #222;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 15px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    z-index: 1000;
}

.dropdown-menu a:hover {
    background-color: #C4BEB4;
    color: black !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}